
<div class="h-36 flex items-center justify-center">
  <h1 class="font-brand font-bold text-3xl text-white">
    Upload a new photo.
  </h1>
</div>

<.live_component module={PhotoFormComponent} id={:new} current_user={@current_user} />